<mat-toolbar>
    <mat-icon>account_circle</mat-icon>
    Contatos
</mat-toolbar>

<mat-tab-group mat-align-tabs="start">

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            Lista de Contatos
        </ng-template>

        <table mat-table [dataSource]='contacts' class="full-width">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let contact"> {{ contact.id }} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let contact"> {{ contact.name }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let contact"> {{ contact.email }} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let contact"> {{ contact.phone }} </td>
            </ng-container>

            <ng-container matColumnDef="favorite">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let contact"> {{ contact.favorite }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            Inserir Contato
        </ng-template>
        <mat-card class="half-width">
            <form [formGroup]="form" (ngSubmit)="submit()">

                <mat-form-field class="full-width">
                    <mat-label>Nome: *</mat-label>
                    <input formControlName="name" matInput placeholder="Digite seu nome.">
                </mat-form-field>

                <div *ngIf="form.controls.name.errors">
                    <div *ngIf="form.controls.name.errors.required">
                        <p>Campo nome e Obrigatório!.</p>
                    </div>
                </div>

                <mat-form-field class="full-width">
                    <mat-label>Email: *</mat-label>
                    <input formControlName="email" matInput placeholder="Digite seu melhor e-mail.">
                </mat-form-field>

                <div *ngIf="form.controls.email.errors">
                    <div *ngIf="form.controls.email.errors.required">
                        <p>Campo e-mail e Obrigatório!.</p>
                    </div>
                    <div *ngIf="form.controls.email.errors.email">
                        <p>Email invalido!.</p>
                    </div>
                </div>

                <mat-form-field class="full-width">
                    <mat-label>Telefone : *</mat-label>
                    <input formControlName="phone" matInput placeholder="Digite o Telefone.">
                </mat-form-field>

                <div *ngIf="form.controls.phone.errors">
                    <div *ngIf="form.controls.phone.errors.required">
                        <p>Campo telefone e Obrigatório!.</p>
                    </div>
                </div>

                <button [disabled]="!form.valid" mat-button color="primary">Adicionar</button>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>