<mat-toolbar>Contatos</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
        <mat-label>Nome: *</mat-label>
        <input formControlName="name" matInput placeholder="Digite seu nome.">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Email: *</mat-label>
        <input formControlName="email" matInput placeholder="Digite seu melhor e-mail.">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone : *</mat-label>
        <input formControlName="phone" matInput placeholder="Digite o Telefone.">
    </mat-form-field>

    <button mat-button color="primary">Adicionar</button>
</form>