<mat-card class="center">
    <mat-card-header>
        <mat-card-title>
            <mat-icon> face </mat-icon>
        </mat-card-title>
        <strong>{{ contact.name }}</strong>
    </mat-card-header>
    <mat-card-content>
        <img class="photo" mat-card-img src="data:image/jpg;base64,{{ contact.photo }}" />
        <p>
            <strong>{{ contact.email }}</strong> <br />
            <strong>{{ contact.phone }}</strong>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="close()"> Fechar </button>
    </mat-card-actions>
</mat-card>